target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/shelf/
*.iws
*.iml
*.ipr
out/

### Local Environment Overrides ###
application-local.yml
application-local.properties

### OS / Temp ###
.DS_Store
Thumbs.db
*.log
